.header-logo {
    margin-right: 10px;
}

.header-logo .logo>img {
    width: 200px;
}

.product.product-single .product-thumb {
    height: 250px;
}

.product.product-single .product-body {
    height: 200px;
}

.pagination {
    margin: 0px;
}

.banner>img {
	object-fit: contain;
}

.product.product-single .product-thumb>img {
	height: 250px;
	object-fit: contain;
}
